<div class="row my-5">
    <div class="col">
        <div class="row mb-2 justify-content-end">
            <form class="col-6 col-md-4 col-lg-3" name="frm">
                <div class="input-group">
                    <input class="form-control" name="query" value="자바">
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
        <div id="div_books" class="row"></div>

        <div class="text-center">
            <button class="btn btn-primary" id="prev">이전</button>
            <span id="span_page"></span>
            <button class="btn btn-primary" id="next">다음</button>
        </div>
    </div>
</div>
<script type="x-handlebars-template" id="temp_books">
    {{#each documents}}
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <img src="{{thumbnail}}">
                    <div class="ellipsis">{{title}}</div>
                </div>
                <div class="card-footer">
                    {{price}}
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script>
    let query=$(frm.query).val();
    let page = 1;
    $(frm).on("submit", function(e) {
        e.preventDefault();
        page = 1;
        query=$(frm.query).val();
        getBooks();
    })

    $("#next").on("click", function(){
        page++;
        getBooks();
    })

    $("#prev").on("click", function(){
        page--;
        getBooks();
    })

    function getBooks(){
        $.ajax({
            type: "get",
            url: "https://dapi.kakao.com/v3/search/book",
            headers: {"Authorization": "KakaoAK e3e46827f9bf192337a7b50ccc7835a0"},
            data: {query: query, page: page, size: 6},
            success: function(result) {
                console.log(result);
                let temp = Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(result));
                let last = Math.ceil(result.meta.pageable_count/6);
                $("#span_page").html(page + "/" + last);
                if (page == 1) $("#prev").attr("disabled", true);
                else $("#prev").attr("disabled", false);
                if (result.meta.is_end) $("#next").attr("disabled", true);
                else $("#next").attr("disabled", false);
            }
        })
    }
</script>