<div class="row my-5">
    <div class="col">
        <h1 class="text-center">도서검색</h1>
        <div id="div_books">

        </div>
    </div>
</div>
<script type="x-handlebar-template" id="temp_books">
    <table class="table">
    {{#each documents}}
        <tr>
            <td><img src="{{thumbnail}}" width=50></td>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{authors}}</td>
        </tr>
    {{/each}}
    </table>
</script>
<script>
    getBooks();
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization": "KakaoAK e3e46827f9bf192337a7b50ccc7835a0"},
            data:{query: "자바", page:1, size:5},
            success: function(data) {
                console.log(data);
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));
            }
        })
    }
</script>