<style>
    form span {
        width: 120px;
    }
</style>
<div class="row my-5 justify-content-center">
    <div class="col-6">
        <h1 class="text-center">LOGIN</h1>
        <form name="frm" class="card p-3">
            <div class="input-group mb-3">
                <span class="input-group-text">E-mail</span>
                <input name="email" class="form-control" value="test@test.com">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password</span>
                <input name="password" class="form-control" type="password" value="test1234">
            </div>
            <button class="btn btn-primary w-100">LOGIN</button>
        </form>
        <div class="text-end mt-2">
            <a href="/users/join">회원가입</a>
        </div>
    </div>
</div>
<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js";
    const auth = getAuth(app);

    $(frm).on("submit", function(e) {
        e.preventDefault();
        const email=$(frm.email).val();
        const password=$(frm.password).val();
        
        if(email == "") {
            alert("Email을 입력하세요!");
            $(frm.email).focus();
        } else if(password == "") {
            alert("비밀번호를 입력하세요!");
            $(frm.password).focus();
        } else {
            signInWithEmailAndPassword(auth, email, password)
                .then((success) => {
                    // Signed in 
                    const user = success.user;
                    console.log(success);
                    sessionStorage.setItem("email", email);
                    sessionStorage.setItem("uid", success.user.uid);

                    if(sessionStorage.getItem("target")) {
                        location.href=sessionStorage.getItem("target");
                    } else {
                        location.href="/";
                    }
                    // ...
                })
                .catch((error) => {
                    const errorCode = error.code;
                    const errorMessage = error.message;
                    console.log(error);
                    alert(errorMessage);
                });
        }
    })
</script>