<style>
    #photo {
        width: 200;
        border-radius: 50%;
        cursor: pointer;
    }
    #file {
        display:none;
    }
</style>

<div class="my-5 mx-3 row justify-content-center">
    <h1 class="text-center mb-5">마이페이지</h1>
    <div class="col-8">
        <div class="text-center my-5">
            <img src="https://via.placeholder.com/200x200" id="photo">
            <input id="file" type="file">
        </div>
        <form name="frm" class="col mt-3 align-self-center">
            <div class="input-group mb-2">
                <span class="input-group-text">이름</span>
                <input name="name" class="form-control">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">전화</span>
                <input name="phone" class="form-control">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">주소</span>
                <input name="address" class="form-control" readonly/>
                <button id="btn-search" type="button" class="btn btn-primary">검색</button>
            </div>
            <div class="text-center my-3">
                <button class="btn btn-primary">정보수정</button>
                <button class="btn btn-secondary" type="reset">수정취소</button>
            </div>
        </form>
    </div>
</div>
<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, setDoc, doc, getDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db=getFirestore(app);

    const uid=sessionStorage.getItem("uid");
    const email=sessionStorage.getItem("email");

    $("#photo").on("click", function(){
        $("#file").click();
    });
    $("#file").on("change", function(e){
        $("#photo").attr("src", URL.createObjectURL(e.target.files[0]));
    });

    let user;
    $(window).on("load", async function(){
        const snapshot = await getDoc(doc(db, `users/${uid}`))
        if(snapshot.data()){
            user=snapshot.data();
            $(frm.name).val(user.name);
            $(frm.phone).val(user.phone);
            $(frm.address).val(user.address);
        }
    });

    $(frm).on("submit", async function(e){
        e.preventDefault(); 
        const name=$(frm.name).val();
        const phone=$(frm.phone).val();
        const address=$(frm.address).val();
        if(name==""){
            alert("이름을 입력하세요.");
            $(frm.name).focus();
            return;
        }
        if(phone==""){
            alert("전화번호를 입력하세요.");
            $(frm.phone).focus();
            return;
        }
        if(address==""){
            alert("주소를 입력하세요.");
            return;
        }
        if(confirm("사용자 정보를 저장하실래요?")){
            await setDoc(doc(db, `users/${uid}`),{
                email:email,
                name:name,
                phone:phone,
                address:address
            })
            alert("사용자 정보가 변경되었습니다.");
            location.href="/";
        }
    });

    $("#btn-search").on("click", function(){
        new daum.Postcode({
            oncomplete:function(data){
                console.log(data);
                const address=data.roadAddress;
                const building=data.buildingName ? `(${data.buildingName})` : ' ';
                $(frm.address).val(address);
            }
        }).open(); 
    });
</script>